body{
    background-color: red;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}



.header {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
#title {
    font-size: 50px;
    text-align: center;
}

.bi-lightning-charge{
 
}

.model {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

.display {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center; 
}

#left {
    background-color: black;
    color: white;
    padding-top: 325px;
    padding-bottom: 325px;
}

#right {
    background-color: black;
    color: white;
    padding-top: 325px;
    padding-bottom: 325px;
    padding-left: 20px;
    padding-right: 20px;
}